/*Whole site*/
html,body {
    margin: 0;
    padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial ,sans-serif;
	color: Black;
	font-weight: bold;
}

/*header*/
header {
	display: table;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: White;
	line-height: 50px;
}

nav {
	display: table-cell;
	width: 70%;
	text-align: right;
	padding: 0;
	vertical-align: middle;
}

/*logo*/
/*header div {
	width: 50px;
}*/

header img {
	display: table-cell;
	width: 50px;
	padding-left: 10px;
	padding-top: 10px;
}

nav a {
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	color: Black;
	margin-left: 5px;
	margin-right: 5px;
}

nav a:hover {
	color: #dc267f;
	}

/*Highlight current page*/
.current {
	color: #dc267f;
	border-bottom: solid 1.5px;
	line-height: 20px;
}

/*Teaser*/
.teaser {
	position: relative;
/*	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;*/
    width: 100%;
    height: 180px;
	background-color: White;
	z-index: -1;
}

@keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.teaser div {
/*	display: block;*/
	position: absolute;
	width: 100%;
	top: 40%;
	left: 50%;
}

#intro {
	text-align: center;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.teaser p {
	text-align: center;
    font-size: 1em;
    margin: 0;
    padding-top: 30px;
    line-height: 50%;
    font-weight: normal;
}

#centeredAbsolute {
	position: relative;
	width: 100%;
	left: -50%;
	color: Black;
	line-height: 8px;
	text-align: center;
  	animation-duration: 2s;
  	animation-name: appear;
}

/*Recent work*/
.work {
	margin-top: 30px;
	margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 1.2em;
}

h2 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 0;
}

h3 {
	font-size: 1em;
	font-weight: medium;
	color: #dc267f;
}

div.img {
    box-shadow: none;
}

div.overflow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.overflow:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.img:hover .image {
	opacity:0;
}

div.img:hover .text {
	opacity:1;
}

div.img img {
    width: 100%;
    vertical-align: text-bottom;
    position: relative;
    overflow: hidden;
}

div.overflow img {
    height: 300px;
}

div.img p {
	text-align: center;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.holder:hover a .image {opacity:1;}
.holder:hover a .text {opacity:0.8;}

.holder {
	position: relative;
	width: 100%;
}

.holder a .image, .holder a .text {
	transition: opacity 0.5s ease-in-out;
}

.holder a .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	font-size: 4em;
	background-color: #dc267f;
	color: White;
	padding-left: 10px;
	opacity: 0;
	z-index: 1;
}

.holder a .image {
	z-index: 0;
}

div.logoholder:hover a .image {opacity:1;}
div.logoholder:hover a .text {opacity:1;}

div.logoholder {
	position: relative;
	width: 50px;
}

div.logoholder a .image, .holder a .text {
	transition: opacity 0.5s ease-in-out;
}

div.logoholder a .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	opacity: 0;
	z-index: 1;
}

div.logoholder a .image {
	z-index: 0;
}


.responsive {
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.dimage {
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/*Content Pages*/
.paragraph {
	width: auto;
	margin: 90px 10px 0;
	padding: 0 10px;
}

.paragraph p {
	font-size: 1.1em;
	font-family: Helvetica, Arial, serif;
	font-weight: normal;
/*	margin: 0px 5px 15px;*/
}

/*The prototype button*/
.paragraph a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 30px auto;
}

.cimage {
	width: 100%;
	margin: auto;
}

.prototype {
    color: #dc267f;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 10px;
    border: solid 1px;
    border-color: #dc267f;
}

/*footer*/
footer {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.8em;
	color: Black;
	font-weight: lighter;
	background-color: #ffffff;
}

div.footerlinks {
	text-align: center;
}

footer div a{
	position: relative;
	display: inline-block;
	color: Black;
	text-decoration:none;
	text-align: center;
	margin: 0 10px;
}

footer p {
	text-align: center;
} 

.sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/*Gallery*/
.responsive2 {
    width: 90%;
    margin: auto;
    padding: 6px;
    float: left;
}

#para2 {
    margin: 20px 10px 0;
    padding-top: 30px;
}

.gallery {
	margin:80px auto;
}

.playlist {
	font-weight: normal;
	line-height: 120%;
}

.back {
	text-align: left;
	float: left;
	font-size: 1.5em;
}

section .back a:link, section .back a:active, section .back a:visited {
	color: #dc267f;
}

section .back a:hover {
	color: #ff66a6;
}

p.opening {
	font-size: 1.4em;
	font-weight: medium;
}

div.regimg{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
}

div.regimg img {
	width: 100%;
	margin: auto;
}

img.icon {
	width: 40%;
	height: 40%;
}

li.listSubTitle {
	line-height: 1.5em;
	font-weight: bold;
	color: #dc267f;
}

.listSubContent {
	font-weight: normal;
	color: Black;
}

h4 {
	text-align: center;
}

img.toolicon {
	display: block;
	width: 20%;
	margin: auto;
	text-align: center;
}

.top {
	border-bottom: 2px solid #dc267f;
}

ul {
	overflow: hidden;
}

.himage {
    display: none;
}

#gif {
	width: 80%; 
}

@media only screen and (min-width: 768px) {
	header img {
		width: 80px;
		height: 80px;
	}

	header {
		line-height: 80px;
	}

	nav a {
		margin-left: 13px;
    	margin-right: 13px;
		font-size: 1.2em;
		text-decoration: none;
	}

	.current {
	    line-height: 40px;
	}

	.teaser {
	    height: 400px;
	}

	.teaser p {
		padding-top: 50px;
	}

	#intro {
		text-align: center;
/*		font-family: Lora, Times, Serif;*/
	    font-size: 1.5em;
/*	    font-weight: bold;*/
/*	    font-style: italic;*/
	    margin: 0;
	    padding: 0;
	    line-height: 30%;
	}

	#centeredAbsolute {
		font-size: 2em;
	}

	.work {
		margin: 30px 30px 30px 30px;
	}

	h1 {
	    font-size: 3em;
	}

	h2{
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.5em;
		color: #dc267f;
	}

	.cimage {
		width: 80%;
	}


	.responsive, .responsive2 {
        width: 49.9999%;
        margin: auto;
        padding: 10px;
        float: left;
    }

    div.overflow img {
	    height: 350px;
	}

    .dimage {
    	width: 49.9999%;
        margin: auto;
        float: left;
        padding: 0 10px;
        text-align: center;
    }

   .himage img {
    	width: 100%;
    }

    .himage {
    	width: 40%;
        margin: auto;
        float: left;
        padding: 0 10px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    .summary {
    	display: block;
    }

    .paragraph a {
		margin: 50px auto;
	}

	p {
		line-height: 1.5em;
	}

    #center {
        text-align: center;
    }

    .process {
    	display: inline-block;
        width: 49.9999%;
        float: left;
        padding: 0 10px;
    }

    #dragonb {
    	margin-top: 30px;
    }

    footer {
    	font-size: 1em;
    	padding: 30px 0;
    }

	footer div a{
		margin: 0 20px;
	}

	.back {
	text-align: left;
	}

	div.regimg{
		width: 80%;
	}

	img.icon {
		width: 60%;
		height: 60%;
	}

	.tool {
		display: inline-block;
		float: left;
		padding: 0 30px;
	}

	img.toolicon {
		width: 100%;
	}

	#gif {
		width: 40%; 
	}

}

@media only screen and (min-width: 1170px){
	header img {
		width: 100px;
		height: 100px;
	}

	header {
		line-height: 100px;
	}

	nav a {
		margin-left: 40px;
    	margin-right: 40px;
		font-size: 1.5em;
		text-decoration: none;
	}

/*	.teaser {
	    height: 600px;
	}*/

/*	#centeredAbsolute {
		font-size: 2em;
	}*/

	.paragraph {
		width: auto;
		margin: 150px 150px 0;
	}

	p {
		line-height: 2em;
	}

	.summary {
		display: inline-block;
		float: left;
		width: 49.999%;
		padding: 0 10px;
	}

/*	.summary p {
		margin-top: 20px;
	}
*/
	.holder a .text {
		font-size: 3.2em;
	}

	.responsive {
	    float: left;
	    width: 24.99999%;
	}

	.cimage {
		width: 70%;
	}

	.dimage {
		width: 49%;
	}

	div.overflow img {
	    height: 270px;
	}

	.bottom {
/*		width: 80%;*/
		margin: auto;
	}

	footer {
		padding-top: 50px;
	}

	footer div a {
		margin: 0 30px;
	}

	footer div a img {
		width: 130%;
	}

    div.footerlinks {
    	text-align: center;
    }

    .back {
	text-align: left;
	}

}

