/*Whole site*/
html,body {
    margin: 0;
    padding: 0;
}

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial,sans-serif;
	color: Black;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color: #dc267f;
}

/*header*/
header {
	display: table;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: White;
	line-height: 50px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

nav {
	display: table-cell;
	width: 70%;
	text-align: right;
	padding: 0;
	vertical-align: middle;
}

/*logo*/
/*header div {
	width: 50px;
}*/

header img {
	display: table-cell;
	width: 50px;
	padding: 10px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav a {
	display: inline-block;
/*	font-size: 1rem;*/
	text-decoration: none;
	color: #323232;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: normal;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav a:hover {
	color: #dc267f;
	}

header.smaller {
	display: none;
/*    line-height: 50px;
    background-color: rgba(255, 255, 255, 1);*/
}

header.smaller a img {
    width: 15%;
    height: 15%;
}

header.smaller nav a {
    line-height: 10px;
/*    font-size: 0.8em;*/
}

/*Highlight current page*/
.current {
	font-weight: bold;
/*	border-bottom: solid 1.5px;
	line-height: 30px;*/
}

/*Teaser*/
.teaser {
	position: relative;
/*	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;*/
    width: 100%;
    height: 180px;
	background-color: White;
	z-index: 0;
	text-align: center;
}

@keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#intro {
    margin: 0;
    font-weight: bold;
}

.teaser p {
	text-align: center;
    font-size: 1em;
    margin: 0;
/*    line-height: 180%;*/
    font-weight: normal;
}

#centeredAbsolute {
	position: absolute;
    top: 40%;
    left: 15%;
/*	top: 40%;
	width: 60%;*/
	display: inline-block;
	color: Black;
	line-height: 8px;
  	animation-duration: 2s;
  	animation-name: appear;
  	z-index: -1;
}

/*Recent work*/
.work {
	margin-top: 30px;
	margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 3em 0 1.2em;
}

h2 {
	font-size: 1em;
/*	text-align: center;*/
	font-weight: bold;
	margin-top: 1em;
}

h3 {
	font-size: 1em;
	font-weight: lighter;
	color: black;
	margin: 1.5em 0 1em;
}

h4 {
	text-align: left;
	font-weight: bold;
	margin: 1em 0;
}

h5{
	letter-spacing: 2px; text-transform: uppercase; font-size: 12px;
}

p .paragraphmargin {
	--x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.003em;
	margin-top: 29px;
}

div.img {
    box-shadow: none;
}

div.overflow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border: 1px solid #F0F0F0;
}

div.overflow:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.img:hover .image {
	opacity:0;
}

div.img:hover .text {
	opacity:1;
}

div.img img {
    width: 100%;
    vertical-align: text-bottom;
    position: relative;
    overflow: hidden;
}

div.overflow img {
    height: 300px;
}

div.img p {
	text-align: center;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.holder:hover a .image {opacity:1;}
.holder:hover a .text {opacity:0.8;}

.holder {
	position: relative;
	width: 100%;
}

.holder a .image, .holder a .text {
	transition: opacity 0.5s ease-in-out;
}

.holder a .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	font-size: 2em;
	background-color: #dc267f;
	color: White;
	padding-left: 10px;
	opacity: 0;
	z-index: 1;
}

.holder a .image {
	z-index: 0;
}

div.logoholder:hover a .image {opacity:1;}
div.logoholder:hover a .text {opacity:1;}

div.logoholder {
	position: relative;
	width: 50px;
}

div.logoholder a .image, .holder a .text {
	transition: opacity 0.5s ease-in-out;
}

div.logoholder a .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	opacity: 0;
	z-index: 1;
}

div.logoholder a .image {
	z-index: 0;
}


.responsive {
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.dimage {
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.simage{
	width: 49%;
	display: inline-block;
}

.simage img {
	width: 100%;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/*Content Pages*/
.paragraph {
	width: auto;
	padding: 0 10px;
	margin: 1.5em 0;
}

.moduleTitle {
	width: auto;
	margin: 90px 10px 20px;
	padding: 0 10px;
}

.paragraph p {
	font-size: 1.1em;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

/*The prototype button*/
.linkWrap a {
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 30px auto;
}

.cimage {
	width: 100%;
	margin: auto;
}

.prototype {
    color: #dc267f;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 10px;
    border: solid 1px;
    border-color: #dc267f;
}

/*footer*/
footer {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
	color: Black;
/*	font-weight: lighter;*/
	background-color: #ffffff;
	border-top: 1px solid rgba(0, 0, 0, 0.16)
}

div.footerlinks a {
	text-align: center;
	color: #dc267f;
}

footer div a{
	position: relative;
	display: inline-block;
	color: Black;
	text-decoration:none;
	text-align: center;
/*	margin: 0 10px;*/
}

footer p {
	font-size: 1.2em;
	text-align: center;
	margin: 0;
} 

.sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/*Gallery*/
.responsive2 {
    width: 90%;
    margin: auto;
    padding: 6px;
    float: left;
}

#para2 {
    margin: 20px 10px 0;
    padding-top: 30px;
}

.gallery {
	margin:80px auto;
}

.playlist {
	font-weight: normal;
	line-height: 120%;
	text-align: center;
}

.back p, .next p{
	margin: 20px;
	font-size: 0.7em;
	font-weight: bold;
	color: #dc267f;
}


a.back:link, a.back:active, a.back:visited {
	float: left;
	text-align: left;
	text-decoration: none;
}

a.next:link, a.next:active, a.back:visited {
	float: right;
	text-align: right;
	text-decoration: none;
}

.back p:hover, .next p:hover {
	color: #ff66a6;
}

section .back a:link, section .back a:active, section .back a:visited {
	color: #dc267f;
}

section .back a:hover {
	color: #ff66a6;
}

p.opening {
	font-size: 1.4em;
	font-weight: medium;
}

div.regimg{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
}

div.regimg img {
	width: 100%;
	margin: auto;
}

img.icon {
	width: 30%;
	height: 30%;
/*	margin: 1.5em;*/
}

img.toolicon {
	display: block;
	width: 20%;
	margin: auto;
	text-align: center;
}

.top {
	border-bottom: 2px solid #dc267f;
}

ul {
	overflow: hidden;
}

.himage {
    display: none;
}

#gif {
	width: 80%; 
	margin: auto;
}

.cellList ul {list-style: none;}
/*.cellList li {margin: 15px 0;}*/
.cellList span {display: inline-block; width: 130px; letter-spacing: 2px; text-transform: uppercase; font-size: 12px;}
.cellList p {-webkit-margin-before: 0.2em; color: #323232;}
.problem {font-weight: bold; /*font-size: 1.2em;*/}
.table {padding: 0 10px; border-bottom: 1px solid #323232;}
.table p {color: #323232;}
.cellProblem, .cellList {
	margin: 1.5em 0;
}


.foreground {
	padding: 50px 0;
	width: 80%;
	margin: auto;
}

.foreground .illo {
	display: inline-block;
    width: 30%;
}

.foreground .illo img{
	width: 100%;
}

.foreground .description {
	display: inline-block;
    width: 60%;
    vertical-align: top;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
/*    border: 10px solid #89eda0;*/
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.foreground .description p, .foreground .description2 p {
	font-size: 1.5em;
	line-height: 120%;
}

.foreground .description p a {
	text-decoration: none;
	color: #dc267f;
}

.foreground .block {
	width: 65%;
}

.foreground .description2 {
	width: 34%;
	display: inline-block;
    vertical-align: top;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
/*    border: 10px solid #89eda0;*/
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.right {
	text-align: right;
}

.right p {
	text-align: left;
}

div.footerlinks {
    text-align: center;
}

p.citation {
	font-size: smaller;
	font-weight: lighter;
	font-style: italic;
}

#disco {
	width: 49.9999%;
	display: inline-block;
	z-index: -20;
}

#disco img {
	width: 100%;
	position: relative;
	z-index: -99;
}

#img1 {
	display: none;
}

.projectintro {
	width: 100%;
}

.projectintro p {
	width: 95%;
	margin: auto;
}

li.listSubTitle {
	line-height: 1.5em;
	font-weight: bold;
	color: #dc267f;
}

ul.listSubContent li {
	list-style: circle outside none;
	display: list-item;
	margin-left: 1.5em;
	font-weight: normal;
	color: #323232;
}

.listSubContent ul {
	list-style-type: circle;
}

.float {
	float: left;
	width: 25%;
}

h3.center {
	text-align: center;
	margin: 1.5em auto;
}

@media only screen and (min-width: 768px) {

	header img {
		width: 80px;
		height: 80px;
	}

	header {
		line-height: 80px;
	}

	nav a {
		margin-left: 13px;
    	margin-right: 13px;
		font-size: 1.2em;
		text-decoration: none;
	}

	.current {
	    line-height: 40px;
	}

	.teaser {
	    height: 500px;
	    text-align: initial;
	}

	.teaser p {
		padding-left: 50px;
		text-align: left;
		font-size: 1.8em;
	}

	#centeredAbsolute {
		z-index: 4;
	}

	.work {
		margin: 30px 30px 30px 30px;
	}

	h1 {
	    font-size: 3em;
	    margin: 1.5em 0 1.2em;
	}

	h2{
		font-size: 2.5em;
	}

	h3 {
		font-size: 2em;
	}

	h3.center {
	text-align: center;
}

	h4 {
		font-size: 1em;
	}

	.cimage {
		width: 80%;
	}


	.responsive, .responsive2 {
        width: 49.9999%;
        margin: auto;
        padding: 10px;
        float: left;
    }

    div.overflow img {
	    height: 350px;
	}

    .dimage {
    	width: 49.9999%;
        margin: auto;
        float: left;
        padding: 0 10px;
        text-align: center;
    }

   .himage img {
    	width: 100%;
    }

    .himage {
    	width: 40%;
        margin: auto;
        float: left;
        padding: 0 10px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    .simage{
	width: 49%;
	display: inline-block;
	}

	.simage img {
	width: 100%;
	}

    .summary {
    	display: block;
    }

/*    .paragraph a {
		margin: 50px auto;
	}*/

	p {
		line-height: 1.5em;
	}

    #center {
        text-align: center;
    }

    .process {
    	display: inline-block;
        width: 49.9999%;
        float: left;
        padding: 0 10px;
    }

    #dragonb {
    	margin-top: 30px;
    }

    footer {
    	font-size: 0.8em;
    	padding: 30px 0;
    	margin-top: 50px;
    }

	footer div a{
		margin: 0 20px;
	}

	.back {
	text-align: left;
	}

	div.regimg{
		width: 80%;
	}

	img.icon {
		width: 40%;
		height: 40%;
	}

	.tool {
		display: inline-block;
		float: left;
		padding: 0 30px;
	}

	img.toolicon {
		width: 100%;
	}

	#gif {
		width: 40%; 
	}

	.table {display: table; padding: 0 40px 20px; }
	.cellProblem {display: table-cell; width: 50%; position: relative; min-height: 1px; padding-right: 1em;}
	.cellList {display: table-cell; padding-left: 1em;}
	.cellList ul {list-style: none;}
	.cellList li {margin: 15px 0;}
	.cellList span {display: inline-block; width: 130px; letter-spacing: 2px; text-transform: uppercase; font-size: 12px; font-weight: bold;}
	.cellList p {-webkit-margin-before: 0.2em;}
	.problem {font-weight: bold; font-size: 1.3em;}

	.moduleTitle {
		width: auto;
		margin: 150px 0 0;
		background-size: contain;
/*		height: 150px;*/
	}

	.paragraph {
		width: 750px;
		padding: 0px 40px 0;
		background-size: cover;
/*		border-top: 2px solid #e2e2e2;*/
		color: #323232;
	}

	div.part {
		margin: 50px auto;
	}

	#disco {
		height: 500px;
		float: right;
		z-index: 5;
	}

	#disco img {
		z-index: 3;
	}

	#img1 {
		display: block;
	}

	#img2 {
		display: none;
	}

	.back p, .next p{
		font-size: 1.2em;
	}

	.projectwrapper {
		width: 600px;
	}

	.projectintro p {
		width: 600px;
		--x-height-multiplier: 0.35;
	    --baseline-multiplier: 0.179;
	    letter-spacing: .01rem;
	    font-weight: 400;
	    font-family: 'Open Sans', 'Helvetica Neue', Sans-serif;
	    font-size: 21px;
	    line-height: 1.9;
	    letter-spacing: -.003em;

	}

	h1{
		font-weight: bold;
		font-size: 3em;
	}

	.projectintro {
/*		height: 550px;*/
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.margintop{
		margin-top: 90px;
		padding-top: 100px;
	}

	.center {
		width: 70%;
		margin: auto;
	}

	.center ul {
		padding-left: 30px;
	}

	.page {
		margin: 30px 0;
		background-color: #323232;
	}

	.gap {
		padding: 0 20px;
	}

	.wrapper {
		width: 70%;
		margin: auto;
	}

	.projectintro {
		width: 100%;
	}

	.whitetext {
		color: black;
	}

	.col-img {
		display: table-cell;
		width: 33%;
		text-align: center;
	}

	.col-txt {
		display: table-cell;
		vertical-align: middle;
		padding: 40px;
	}

	.col-img img {
		width: 70%;
	}

	.back p, .next p{
		margin-top: 50px;
	}

	.width70 {
		width: 70%;
		margin: auto;
	}

}

@media only screen and (min-width: 1170px){
	header img {
		width: 100px;
		height: 100px;
	}

	header {
		line-height: 100px;
	}

	nav a {
		margin-left: 40px;
    	margin-right: 40px;
		font-size: 1.5em;
		text-decoration: none;
	}

	p {
		line-height: 2em;
	}

	.summary {
		display: inline-block;
		float: left;
		width: 49.999%;
		padding: 0 10px;
	}

	.holder a .text {
		font-size: 3.2em;
	}

	.responsive {
	    float: left;
	    width: 24.99999%;
	}

	.cimage {
		width: 70%;
	}

	.dimage {
		width: 49%;
	}

	.border img {
		border: 1px solid #323232;
	}

	div.overflow img {
	    height: 270px;
	}

	.bottom {
/*		width: 80%;*/
		margin: auto;
	}

	footer {
		padding-top: 50px;
	}

	footer div a {
		margin: 0 30px;
	}

	footer div a img {
		width: 130%;
	}

    .back {
	text-align: left;
	}

	.table {display: table; width: 73%; margin: auto; }

	.paragraph {
		margin: auto;
	}

	#disco img {
		left: -25%;
		top:-20%;
	}

}

}
