{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Washtenaw Community College Library</h1>
		<section class="top">
			<div class="summary" >
				<h2>Summary</h2>
				<p>
					This is a contextual research project for improving the accessibility of a newly built collection in the library, which was finished during SI 501 Contextual Inquiry.
				</p>
			</div>
			<div class="summary">
				<h2>My Role</h2>
				<p>
					I participated in every stage of the project from background research to affinity wall building and final report. I also coordinated the work and communication of the whole team.
				</p>
			</div>
			<div class="summary">
				<h2>Tools</h2>
				<p id="center">
					Contextual inquiry, Affinity wall, Interviewing
				</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="bottom">
			<h3>The Problem</h3>
				<p>
					We identified the problem to solve through the initial meeting with our client. A new children's literature collection was recently built at Bailey Library but not many patrons know about it or use it.
				</p>
			<h3>Background Research</h3>
			<div>
				<p>
					We first got to know our client by conducting extensive research. I specifically looked into their history, values, and finanacial situation.
					Through research, initial meeting, and observations in the library, we identified three key stakeholders of the children's collection, faculties who teach children's literature related courses, students in related programs, and librarians.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/501-1.jpg" alt="This is a display area in Bailey Library">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Data Collection and Analysis</h3>
				<p>
					We conducted contextual interviews and observations with stakeholders. Each interview was followed by an interpretation session that helped us generate affinity notes. We categorized the notes through an affinity wall and started to tease out the workflows and pain points of the stakeholders.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/affinityWall.jpg" alt="affinity wall">
					</div>
				</div>
				<div class="clearfix"></div>
				<p>
					We found that students are the main users of the collection, and they also encounter the most problems in their workflow. They do not how to search in the online catalog, do not understand call numbers, and are hesitant about asking for librarians' help. Sometimes, asking for help does not solve their problems. From these recurring issues in our data, we found that students' lack of skills to use the library in general is the root cause of the problem the children's literature collection is facing. We also found that the poor usability of the online catalog and confusing book spine labels in the physical collection prevent students from successfully using the collection.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/workflow.png" alt="affinity wall">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Solutions</h3>
				<p>
					To increase students information literacy skills and enable them to better utilize both the collection and the library in general, we propsed a series of educational activities such as library workshops. We also suggested improving the usability of both the physical collection and online catalog. Furthermore, we proposed some marketing strategies for the library to raise people's awareness of the new collection. We presented our solutions onsite to our client at the end.
					<a href="https://drive.google.com/file/d/0BzPN4SUmKuEzSTQ2VFJOVVhxenM/view?usp=sharing">Final Report</span></a>
				</p>
			</div>
			<div>
				<h3>Takeaways</h3> 
				<p>From working with a client and other team members in this project, I learned much about contextual inquiry, interview techniques, and presentations skills. I feel confident about conducting user interviews and communicating with clients after this project.
				</p>
			</div>
		</section>
	</section>
{% endblock %}