{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Washtenaw Community College Library</h1>
		<section class="top">
			<div class="summary" >
				<h2>Summary</h2>
				<p>
					This is a contextual research project for improving the accessibility of a newly built collection in the library, which was finished during SI 501 Contextual Inquiry.
				</p>
			</div>
			<div class="summary">
				<h2>My Role</h2>
				<p>
					I participated in every stage of the project from background research to affinity wall building and final report. I also coordinated the work and communication of the whole team.
				</p>
			</div>
			<div class="summary">
				<h2>Tools</h2>
				<p id="center">
					Contextual inquiry, Affinity wall, Interviewing
				</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="bottom">
			<div>
				<p>
					We first got to know our client, Bailey Library at Washtenaw Community College, by conducting extensive research. I specifically looked into their history, values, and finanacial situation.
					Through research, initial meeting, and observations in the library, we identified three key stakeholders of the children's collection, faculties, students, and librarians.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/501-1.jpg" alt="This is a display area in Bailey Library">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					We wrote different interview protocols for these stakeholders and conducted four contextual interviews with a faculty member, two librarians, and a student. Each interview was followed by an interpretation session that helped us generate affinity notes. 
					We categorized the notes through an affinity wall, and found that students' lack of information literacy skills is the root cause of the problems the new collection is facing.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/affinityWall.jpg" alt="affinity wall">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					To solve the main problem, we propsed a series of educational activities such as library workshops. We also suggested improving the usability of both the physical collection and online catalog. Furthermore, we proposed some marketing strategies for the library.
					<a href="https://drive.google.com/file/d/0B1N7nLI9TweERThWc1lvLU9pZEU/view"><span id="prototype">Final Report</span></a>
				</p>
			</div>
			<div>
				<h3>Take aways</h3> 
				<p>This is a great research project I did with a real client. I learned about contextual inquiry, work models, interview techniques, and affinity wall building. I feel confident about conducting user interviews after this project.
				</p>
			</div>
		</section>
	</section>
{% endblock %}