{% extends "base.html" %}
{% block content %}
	<div class="moduleTitle">
		<h1>Bailey Library Contextual Inquiry</h1>
	</div>
	<div class="table">
		<div class="cellProblem">
			<h5>The Problem</h5>
			<p class="problem">How to increase the accessibility of a newly built children's literature collection?</p>
			<p>	A newly established children’s literature collection at the community college library was not improving the accessibility of children’s books as anticipated.  We conducted contextual inquiry to find out the root cause of the problem and provided suggestions on educational activities and marketing strategies. </p>
		</div>
		<div class="cellList">
			<ul>
				<li><span> Role </span> 
					<p>Project manager, interviewer</p>
				</li>
				<li><span> Methods </span> 
					<p>Contextual Inquiry / Interviewing</p>
				</li>
				<li><span> Tools </span> 
					<p>Affinity Diagram</p>
				</li>
				<li><span> Team </span>
					<p>Xiyun Xiang / Matt Ritter / Mathilde Finnigen</p>
				</li>
				<li><span> Timeline </span> 
				<p>September 2016 - December 2016</p>
				</li>
			</ul>
		</div>
	</div>
	<section class="paragraph">
			<h3>The Problem</h3>
				<p>
					By meeting our client, we defined our problem: a new children's literature collection was recently built at Bailey Library but not many patrons know about it or use it.
				</p>
			<h3>Background Research</h3>
			<div>
				<p>
					We first got to know our client by conducting extensive research. I specifically looked into their history, values, and finanacial situation.
					Through research, initial meeting, and observations in the library, we identified three key stakeholders of the children's collection - faculties who teach children's literature related courses, students in related programs, and librarians.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/501-1.jpg" alt="This is a display area in Bailey Library">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Finding the Root Cause from Data</h3>
				<p>
					We conducted contextual interviews and observations with stakeholders. Each interview was followed by an interpretation session that helped us generate affinity notes. We categorized the notes through an affinity wall and started to tease out the workflows and pain points of the stakeholders.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/affinityWall.jpg" alt="affinity wall">
					</div>
				</div>
				<div class="clearfix"></div>
				<p>
					We found that students are the main users of the collection, and they also encounter the most problems in their workflow. They do not know how to search in the online catalog, do not understand call numbers, and are hesitant about asking for librarians' help. Sometimes, asking for help does not solve their problems. From these recurring issues in our data, we found that students' lack of information literacy skills is the root cause of the problem the children's literature collection is facing. We also found that the poor usability of the online catalog and confusing book spine labels in the physical collection further hinders students from successfully using the collection.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/workflow.png" alt="affinity wall">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Solutions</h3>
				<p>
					To improve students information literacy skills and enable them to better utilize both the collection and the library in general, we propsed a series of educational activities such as library workshops and in-class library tours. We also suggested improving the usability of both the physical collection and online catalog. Furthermore, we proposed some marketing strategies for the library to raise people's awareness of the new collection. We presented our solutions onsite to our client at the end.
					<div class="linkWrap">
						<a href="https://drive.google.com/file/d/0BzPN4SUmKuEzSTQ2VFJOVVhxenM/view?usp=sharing"><span class="prototype">Final Report</span></a>
					</div>
				</p>
			</div>
			<div>
				<h3>Takeaways</h3> 
				<p>From working with a client and other team members in this project, I learned much about contextual inquiry, interview techniques, and presentations skills. I feel confident about conducting user interviews and communicating with clients after this project.
				</p>
			</div>
			<div>
			<a class="back" href="/Haley"><p>«&nbsp;Previous<br>Web: Haley Tricycles</p></a>
			<a class="next" href="/beauty"><p>Next&nbsp;»<br>Mobile: Beauty Organizer</p></a>
			</div>
		</section>

{% endblock %}