{% extends "base.html" %}
{% block content %}
	<div class="moduleTitle">
		<h1>Gale Researcher Usability Evaluation (Ongoing)</h1>
	</div>
	<div class="table">
		<div class="cellProblem">
			<h5>The Problem</h5>
			<p class="problem">How can we make Gale Researcher, a web-based tool for students, more user-friendly?</p>
			<p>	Our team are conducting user research and usability tests for Gale Researcher, a web-based tool that helps undergraduate students with academic research. The current workflow leads to a loop structure that might be confusing for students. We look to help define the pain points in the current user experience and offer suggestions. </p>
		</div>
		<div class="cellList">
			<ul>
				<li><span> Role </span> 
					<p>Primary graphic designer, also works as interviewer, project manager, and draft writer at different stages of the project</p>
				</li>
				<li><span> Methods </span> 
					<p>Interviewing / Personas / Survey Design / Usability Testing/ Heuristic Evaluation</p>
				</li>
				<li><span> Tools </span> 
					<p>Sketch / Adobe Illustrator</p>
				</li>
				<li><span> Team </span>
					<p>Leigh Gialanella / Michael Ho / Nathan Magyar / Kaitlyn Sisk</p>
				</li>
				<li><span> Timeline </span> 
				<p>January 2017 - May 2017</p>
				</li>
			</ul>
		</div>
	</div>
	<section class="paragraph">
			<h3>Interaction Map</h3>
			<p>
				After interviewing our client contact, we dived into the product and generated an interaction map that covers every action a user can take in the product.
				I led the discussion of the interaction map and drew on the whiteboard. We first figured out the workflow and then designed the layout for the map with post-it notes representing screenshots.
			</p>
			<div class="dimage">
					<div class="img">
						<img src="images/teamWhiteBoard2.jpg" alt="Whiteboard1">
					</div>
				</div>
				<div class="dimage">
					<div class="img">
						<img src="images/teamWhiteBoard.jpg" alt="Whiteboard2">
					</div>
				</div>
				<div class="clearfix"></div>
			<h4>My Final Design</h4>
			<div class="cimage">
				<div class="img">
				<img src="images/InteractionMap.png" alt="interaction map">
				</div>
			</div>
			<h3>Interviews</h3>
			<div class="himage">
				<div class="img">
					<img src="images/622affinity.png" alt="our affinity wall in progress">
				</div>
			</div>
			<p>
				We conducted four interviews with our main user, students. We also interviewed one faculty, which is another population Gale Researcher wants to target. We transcribed our interviews and used an affinity wall to analyze our quantitative data. 
				Our interview report is in progress. We will write about our findings, recommendations, and generate 3 personas from our data. Stay tuned!
			</p>
			<div>
			<a class="back" href="/beauty"><p>«&nbsp;Previous<br>Mobile: Beauty Organizer</p></a>
			<a class="next" href="/designJams"><p>Next&nbsp;»<br>Design Jams</p></a>
			</div>
		</section>

{% endblock %}