{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<section class="top">
		<h1>Gale Researcher Needs Assessment and Usability Evaluation</h1>
			<div>
				<p class="opening">
					Our team are conducting user research and usability tests for Gale Researcher, a web-based tool that helps undergraduate students with academic research. We look to help improve the confusing loop structure in the current workflow.
				</p>
			</div>
		</section>
			<br>
			<div>
				<div class="tool">
					<img class="toolicon" src="images/role.png" alt="">
					<h4>My Role</h2>
				</div>
				<p>
					I am graphic designer on the team and also participate in every stage of user research project, from interviews to report writing.
				</p>
				<div class="clearfix"></div>
			</div>
			<br>
			<div>
				<div class="tool">
					<img class="toolicon" src="images/tool.png" alt="">
					<h4>Tools</h4>
				</div>
				<p>
					Interviewing, Interaction Maps, Survey Design, Personas, Usability Testing; Adobe Illustrator
<!-- 					<ul class="tools">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul> -->
				</p>
			<div class="clearfix"></div>
		<section class="bottom">
			<h3>Interaction Map</h3>
			<p>
				After interviewing our client contact, we dived into the product and generated an interaction map that covers every action a user can take in the product.
				I led the discussion of the interaction map and drew on the whiteboard. We first figured out the workflow and then designed the layout for the map with post-it notes representing screenshots.
			</p>
			<div class="dimage">
					<div class="img">
						<img src="images/teamWhiteBoard2.jpg" alt="Whiteboard1">
					</div>
				</div>
				<div class="dimage">
					<div class="img">
						<img src="images/teamWhiteBoard.jpg" alt="Whiteboard2">
					</div>
				</div>
				<div class="clearfix"></div>
			<h4>My Final Design</h4>
			<div class="cimage">
				<div class="img">
				<img src="images/InteractionMap.png" alt="interaction map">
				</div>
			</div>
			<p>
				Our next step is to conduct user interviews and generate personas for the product. Stay tuned!
			</p>
			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
		</section>
	</section>
{% endblock %}