{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Most Liked From SouncCloud</h1>
		<section class="top">
			<div>
				<h2>Summary</h2>
				<p>
					This project for SI 506 Programming I finds the most liked posts from the recent posts of SoundCloud Facebook page, extracts artist names from these posts, and finds each artist’s most popular track on Spotify. The final output is a list of the most popular tracks of the 10 artists who seem to be liked most on the SoundCloud Facebook page. I did this project because I am curious about the most popular artists and songs on SoundCloud. It reflects the music taste of a specific population, SoundCloud fans on Facebook.
				</p>
			</div>
			<div>
				<h2>Tools</h2>
				<p style="text-align: center;">
					Python &middot; Natural Language Toolkit &middot; REST API &middot; json
				</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="bottom">
			<h3>Python Code</h3>
				<div class="img">
				<img src="images/API.gif" alt="A screen record of the Python codes">
				</div>
			<h3>The Cool Kids' Playlist of December 2016</h3>
			<div>
				<ol class="playlist">
					<li>Joe Budden - Uncle Joe</li>
					<li>Rich Homie- Flex (Ooh, Ooh, Ooh)</li>
					<li>Lil Yachty - One Night</li>
					<li>Jai Wolf - Indian Summer</li>
					<li>Jakubi - Couch Potato</li>
					<li>Niykee Heaton - Bad Intentions</li>
					<li>Stwo - Out At Night</li>
					<li>Louis - Fire</li>
					<li>Jacob Latimore - The Real</li>
					<li>Mikos Da - Sun (Irie)</li>
				</ol>	
			</div>
			<div>
				<h3>Takeaways</h3> 
				<p>I gained the ability to solve coding problems independently by reading documentations and searching on Stack Overflow (All hail Stack Overflow!). If I had more time, I would have applied for a SoundCloud API.
				</p>
			</div>
			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
		</section>
	</section>
{% endblock %}