<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Wei's Portfolio</title>
  {{style}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
      <div class="logoholder">
          <a href="/">
            <img class="image" src="images/logo.png" alt="personal logo, a clover">
            <div class="text"><img src="images/personalLogo1215Hover.png" alt=""></div>
          </a>
      </div>
    <nav>
      <a href="/gallery"
      {% if name == "gallery" %}
          class = "current"
          {% endif %}
      >Gallery</a>
      <a href="resume.pdf"
      {% if name == "resume" %}
          class = "current"
          {% endif %}
      >Resume</a>
    </nav>
  </header>

    {% block content %}
      You should never see this!!
    {% endblock %}

  <footer>
    <div class="footerlinks">
      <a href="mailto:caiw28@gmail.com" target="_top"><img class="icon" src="images/mail.png" alt="send me an email"><span class="sr-only">Email</span></a>
<!--       <a href="https://www.instagram.com/truetigercw/" target="_blank"><img class="icon" src="images/instagram.png" alt="go to my Instagram"><span class="sr-only">Instagram</span></a> -->
    </div>
    <br>
    <p>&copy; 2017 by Wei Cai</p>
    <p>Always learning, constantly updating</p>
  </footer>
  {{script}}
</body>
</html>