{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Beauty Organizer (Ongoing)</h1>
		<section class="top">
			<div>
				<h2>Summary</h2>
				<p>
					This product is designed for people who are passionate about makeup, specifically those who own various makeup products of different colors, textures, brands, and so forth. People in this community oftentimes find it difficult to track their collections, which can result in problems include but not limited to: redundant purchases, not fully utilizing the product that are purchased, not being able to track expired products.
					I envision it to be a tool that helps you record your makeup products digitally. It should be pleasing to look at and easy to use. The process of inputting product information is automated and streamlined, ideally just taking a picture. It should also generalize useful suggestions on purchasing and using different products based on users' data. 
					This is an ongoing project at the research stage. The end product will be a high-fidelity prototype. Stay tuned!
				</p>
			</div>
			<div>
				<h2>The Original Concept</h2>
				<p>
					This idea was initially just about lipsticks. It originated from the moment I was frustrated about figuring our what lipstick colors I own. What brand do I own most? What colors I have not had? Which of my lipsticks I have not made good use of and should start using them? How to coordinate lip colors with the rest of my look? I have a lot of questions, and I do not want to answer them with an Excel spreadsheet. Here is a more glamorous way to organize lipsticks.
				</p>
				<iframe class="video" src="https://www.youtube.com/embed/deESeVzFXlg" frameborder="0" allowfullscreen></iframe>
				</div>
	</section>

			<div class="clearfix"></div>

			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
	</section>
{% endblock %}