{% extends "base.html" %}
{% block content %}
	<div class="moduleTitle">
		<h1>Design Jams</h1>
	</div>
	<div class="table">
		<div class="cellProblem">
			<h5>Introduction</h5>
			<p>	I participated in Nutanix Design Jam, Deloitte Design Jam, and Infogamers Design Jam during my first semester at UMSI. In these events, we spend 2-3 hours designing a solhe robust content. </p>
		</div>
		<div class="cellList">
			<ul>
				<li><span> Role </span> 
					<p>UX Designer</p>
				</li>
				<li><span> Methods </span> 
					<p>Brainstorming / Sketching</p>
				</li>
				<li><span> Tools </span> 
					<p>Sketch / Paper and Pencil</p>
				</li>
			</ul>
		</div>
	</div>
	<section class="paragraph">
			<div>
				<h3>Nutanix Design Jam</h3>
				<p>
					The design challenge was to come up with a tool that would be helpful for people facing a large-scale natural disaster. We chose the scenario of an earthquake and started brainstorming ideas. We used affinity diagrams to organize the features of our App. I drew the wireframes for various screens. Our final design was an App that allows people to filter nearby resources and quickly find what they need.  
				</p>
				<div class = 'cimage'>
		  			<div class="img">
		  				<img src="images/nutanix1.png" alt="Affinity diagrams">
						<img src="images/nutanix2.png" alt="part of the wireframes">
					</div>
				</div>
				<div id="Deloitte" class="clearfix"></div>
			</div>
			<div>
				<h3>Deloitte Design Jam</h3>
				<p>
					The design challenge was to help managers handle peak time during football games in a famous Ann Arbor restaurant called Zingerman's. We designed a web-based calendar tool which utilizes past data to predict and inform managers about how to designate employees and when to buy new ingredients. We used brainstorming and affinity diagrams in our ideation process, and finished with a sketch of the product.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/Deloitte.jpg" alt="a prototype of our web-based tool">
					</div>
				</div>
				<div id="Infogamers" class="clearfix"></div>
			</div>
			<div>
				<h3>Infogamers Design Jam</h3>
				<p>
					The design challenge was to design a "free-to-play" game (which is free to play but you can buy things in the game to aid your gaming process) or change a pay-to-play game to free-to-play. We did brainstorming and chose the popular XBox game "Just Dance“. We converted it into a free-to-play game where users can pay to unlock new songs more quickly. Stars, which already existed in the game, are used as the currency. Our design was selected as the best at the event.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/infogamer.jpg" alt="our team at the design jam">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Takeaways</h3>
				<p>
					These events were very fun and challenging for me. I experienced fast-paced design in a short period of time and practiced communicating ideas visually. I learned about general process of design and also sharpened my presentation skills.
				</p>
			</div>
			<div>
			<a class="back" href="/SI622"><p>«&nbsp;Previous<br>Usability Study: Gale Researcher</p></a>
			<a class="next" href="/Dragon"><p>Next&nbsp;»<br>Mobile: Dragon Scrolls</p></a>
			</div>
		</section>
{% endblock %}