{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Design Jams</h1>
		<section class="top">
			<div class="summary" >
				<h2>Summary</h2>
				<p>
					These are the design jams I participated in during my first semester at UMSI. In these events, we spend 2-3 hours designing a solution for a specific design challenge.
				</p>
			</div>
			<div class="summary">
				<h2>My Role</h2>
				<p>
					I participated in brainstorming, sketching, wireframing, and presentation.
				</p>
			</div>
			<div class="summary">
				<h2>Tools</h2>
				<p id="center">
					Paper and pencil, Sketch
				</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="bottom">
			<div>
				<h3>Nutanix Design Jam</h3>
				<p>
					The design challenge was to come up with a tool that would be helpful for people facing a large-scale natural disaster. We chose the scenario of an earthquake and started brainstorming ideas. We used affinity diagrams to organize the features of our App. I drew the wireframes for various screens. Our final design was an App that allows people to filter nearby resources and quickly find what they need.  
				</p>
				<div class = 'cimage'>
		  			<div class="img">
		  				<img src="images/nutanix1.png" alt="Affinity diagrams">
						<img src="images/nutanix2.png" alt="part of the wireframes">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Deloitte Design Jam</h3>
				<p>
					The design challenge was to help managers handle peak time during football games in a famous Ann Arbor restaurant called Zingerman's. We designed a web-based calendar tool which utilizes past data to predict and inform managers about how to designate employees and when to buy new ingredients. We used brainstorming and affinity diagrams in our ideation process, and finished with a sketch of the product.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/Deloitte.jpg" alt="a prototype of our web-based tool">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Infogamers Design Jam</h3>
				<p>
					The design challenge was to design a "free-to-play" game (which is free to play but you can buy things in the game to aid your gaming process) or change a pay-to-play game to free-to-play. We did brainstorming and chose the popular XBox game "Just Dance“. We converted it into a free-to-play game where users can pay to unlock new songs more quickly. Stars, which already existed in the game, are used as the currency. Our design was selected as the best at the event.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/infogamer.jpg" alt="our team at the design jam">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Takeaways</h3>
				<p>
					These events were very fun and challenging for me. I experienced fast-paced design in a short period of time and practiced communicating ideas visually. I leanred about general process of design and also sharpened my presentation skills.
				</p>
			</div>
			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
		</section>
	</section>
{% endblock %}