{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<section class="top">
		<h1>The Dragon Scrolls</h1>
			<div>
				<p class="opening">
					This mobile app helps learners learn the appearance and sound of Chinese characters through a role playing game. Together with my partner, I combined my knowledge in linguistics and education with my passion in games to create this immersive, educational experience.he robust content. 
				</p>
			</div>
		</section>
			<br>
			<div>
				<div class="tool">
					<img class="toolicon" src="images/role.png" alt="">
					<h4>My Role</h2>
				</div>
				<p>
					I designed the gameplay related to the appearance of characters, the general structure of the game, and the interface. I also mad
				</p>
				<div class="clearfix"></div>
			</div>
			<br>
			<div>
				<div class="tool">
					<img class="toolicon" src="images/tool.png" alt="">
					<h4>Tools</h4>
				</div>
				<p>
					Sketch, Adobe Photoshop, InVision
<!-- 					<ul class="tools">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul> -->
				</p>
			<div class="clearfix"></div>
		<section class="bottom">
			<div>
				<p class="process">
					I came up with the idea of breaking down Chinese characters into puzzle pieces to learn the appearance of the characters, and paired up with my partner who was interested in using sound association between Chinese and English to learn the pronunciation of Chinese. The final product is a the combination of these two learning strategies in a fantasy world based on ancient Chinese myths.
				</p>
				<div class="dimage">
		  			<div class="img">
						<img src="images/opening.png" alt="the first scene of the game">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id = "dragonb">
				<div class="dimage">
					<div class="img">
						<img src="images/openingCopy.png" alt="a story about a mysterious acient creature the player can unlock">
						<p>Engaging story</p>
					</div>
				</div>
				<div class="dimage">
					<div class="img">
						<img src="images/mapCopy.png" alt="map of different levels">
						<p>Progression in gameplay</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Takeaways</h3>
				<p>
					I was able to combine my knowledge in linguistics and passion for design. sharpened my design skills through this project and learned about the theories of educational games. I taught myself to use Sketch and InVision during this project. I also gained more experience about team work as I was constantly dicussing design ideas with my partner.
				</p>
			</div>
			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
		</section>
	</section>
{% endblock %}