{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>The Dragon Scrolls</h1>
		<section class="top">
			<div class="summary" >
				<h2>Summary</h2>
				<p>
					This is a mobile game that helps people learn Chinese characters. I worked with a partner on this project for EDUC 639 Design of Learning Environments in the Graduate School of Education, University of Pennsylvania. 
				</p>
			</div>
			<div class="summary">
				<h2>My Role</h2>
				<p>
					I designed the gameplay related to the appearance of characters, the general structure of the game, and the interface. I also made a prototype of the gameplay for one level.
				</p>
			</div>
			<div class="summary">
				<h2>Tools</h2>
				<p id="center">
					Sketch, Adobe Photoshop, InVision
				</p>
			</div>
			<div class="clearfix"></div>
			<a href="https://projects.invisionapp.com/share/3G5BAWCHT#/screens"><span id="prototype">View Prototype</span></a>
		</section>
		<section class="bottom">
			<div>
				<p class="process">
					I came up with idea of breaking down Chinese characters into puzzle pieces to learn the appearance of the characters, and paired up with my partner who was interested in using sound association between Chinese and English to learn the pronunciation of Chinese. The final product is a the combination of these two learning strategies in a fantasy world based on ancient Chinese myths.
				</p>
				<div class="dimage">
		  			<div class="img">
						<img src="images/opening.png" alt="the first scene of the game">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id = "dragonb">
				<div class="dimage">
					<div class="img">
						<img src="images/openingCopy.png" alt="a story about a mysterious acient creature the player can unlock">
						<p>Engaging story</p>
					</div>
				</div>
				<div class="dimage">
					<div class="img">
						<img src="images/mapCopy.png" alt="map of different levels">
						<p>Progression in gameplay</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Take aways</h3>
				<p>
					I was able to combine my knowledge in linguistics and passion for design. sharpened my design skills through this project and learned about the theories of educational games. I taught myself to use Sketch and InVision during this project. I also gained more experience about team work as I was constantly dicussing design ideas with my partner.
				</p>
			</div>
	</section>
	</section>
{% endblock %}