{% extends "base.html" %}
{% block content %}
	<section class="gallery" id="design">
		<h1 id="para1">Design & Illustrations</h1>

		<div class="responsive">
		  <div class="img"> 
		    <a href="images/yys.png" data-lightbox="graphic_design" data-title="Merchandise design for a mobile game called Yin Yang Shi ">
		      <img src="images/yys.png" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>
		
		<div class="responsive">
		  <div class="img">
		    <a href="images/design1.png" data-lightbox="graphic_design" data-title="Poster design for a class project">
		      <img src="images/design1.png" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/design2.png" data-lightbox="graphic_design" data-title="Visualization of one city in the novel Invisible Cities">
		      <img src="images/design2.png" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/design3.png" data-lightbox="graphic_design" data-title="Data visualization with Processing and made into a hat">
		      <img src="images/design3.png" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/design4.png" data-lightbox="graphic_design" data-title="Ticket design for a student activity">
		      <img src="images/design4.png" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/design6.jpg" data-lightbox="graphic_design" data-title="Ticket design for a student activity">
		      <img src="images/design6.jpg" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>
		
		<div class="clearfix"></div>
	</section>

	<!-- <section class="gallery" id="Photos">
		<h1 id=para2>Photos</h1>
		<div class="responsive">
		  <div class="img">
		  	<a href="images/teaser.jpg" data-lightbox="photography">
		      <img src="images/teaser.jpg" alt="palm tress and sunset" width="600" height="400">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/centralPark.jpg" data-lightbox="photography">
		      <img src="images/centralPark.jpg" alt="link to the Haley Tricycle project" width="600" height="400">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/concert.jpg" data-lightbox="photography">
		      <img src="images/concert.jpg" alt="link to photos" width="600" height="400">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/photo1.jpg" data-lightbox="photography">
		      <img src="images/photo1.jpg" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/photo2.jpg" data-lightbox="photography">
		      <img src="images/photo2.jpg" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/photo3.jpg" data-lightbox="photography">
		      <img src="images/photo3.jpg" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/photo4.jpg" data-lightbox="photography">
		      <img src="images/photo4.jpg" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="images/photo5.jpg" data-lightbox="photography">
		      <img src="images/photo5.jpg" alt="link to digital design works" width="300" height="200">
		    </a>
		  </div>
		</div>

		<div class="clearfix"></div>
	</section> -->
{% endblock %}