{% extends "base.html" %}
{% block content %}
	<div class="moduleTitle">
		<h1>Website Redesign: Haley Tricycles</h1>
	</div>
	<div class="table">
		<div class="cellProblem">
			<h5>The Problem</h5>
			<p class="problem">How can we improve the usability of the website for Haley Tricycles?</p>
			<p>	In a web design course, we were challenged to renovate the old website of Haley Tricycles, a small business in Philadelphia, which was inefficient in providing information and hard to navigate. In my design, I changed the information architecture and navigation based on user research. I also added a customization feature that is unique to Haley.  </p>
		</div>
		<div class="cellList">
			<ul>
				<li><span> Role </span> 
					<p>UX researcher and designer</p>
				</li>
				<li><span> Methods </span> 
					<p>Card sorting / Sketching / Storyboarding / Wireframing / Prototyping / Personas / Mood board / Style guide</p>
				</li>
				<li><span> Tools </span> 
					<p>Sketch / Adobe Illustrator</p>
				</li>
				<li><span> Team </span>
					<p>Individual Project</p>
				</li>
				<li><span> Timeline </span> 
				<p>January 2016 - May 2016</p>
				</li>
			</ul>
		</div>
	</div>
	<section class="paragraph">
			<div>
				<h3>Initial Research - What's unique about Haley?</h3>
				<p>
					Coming into the problem with minimum knowledge about tricycles, we did immersion research first. We found out that tricycles are used for personal cargo transport in the urban area. It also reflects the appreciation of a fun, vintage-inspired style. After competitive research, we found that the unique things about Haley Tricycles are its design and customizable options.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/competitor.png" alt="competitor research result">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Finding Pain Points</h3>
				<p>
					We did card sorting of the user data we gathered from questionnaires and formed an idea about the needs and problems of the current website. The recurring problem in the data is that the information architecture is disorganized and the whole website is difficult to navigate.
					I created personas and a customer journey map to empathize with users, and found that it is very difficult for users to figure out how to place orders.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/cardSorting.png" alt="personas and journey map">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/personaStoryBoard.png" alt="personas and journey map">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Solutions</h3>
				<p>
					To improve the usability of the whole website, my solution is a more effective information architecture and simplified navigation, as well as simpler layout on each page. To address the difficulties users have with placing orders, I designed a step-by-step ordering process. This process highlights the customization options which are unique about Haley.
					I sketched out wireframes and created a low-fidelity prototype for the new customization page and gallery page. 
<!-- 					<a href="https://drive.google.com/file/d/0B1N7nLI9TweERThWc1lvLU9pZEU/view"><span class="prototype">View Prototype</span></a> -->
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyWireframe.png" alt="wireframes">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Visual Design</h3>
				<p>
					Based on our research, I understood that the style of Haley is vintage inspired. I collected materials of vintage cars and nostalgic designs to create a mood board. I finalized the aesthetic direction of the site by creating a style guide.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyAesthetic.png" alt="moodboard and style guides with vibrant, warm colors">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					After experimenting with different designs of the homepage, my final mockup is a page that looks like the box of a Haley Tricycle. 
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyMockups.png" alt="three different mockups and a final one">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/haleyMockupHome.png" alt="three different mockups and a final one">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Takeaways</h3>
				<p>
					This was the first time I learned about the process of UX design, before I became a student in human-computer interaction. I was fascinated by the idea of user-centric design. Looking back on it, I would have done more research about creating customization pages and used a grid system to achieve a more precise, balanced design.
				</p>
			</div>
			<div>
			<a class="back" href="/Hyecho"><p>«&nbsp;Previous<br>Mobile: Hyecho's Journey</p></a>
			<a class="next" href="/SI501"><p>Next&nbsp;»<br>Contextual Inquiry: Bailey Library</p></a>
			</div>
		</section>

{% endblock %}