{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Haley Tricycles</h1>
		<section class="top">
			<div class="summary" >
				<h2>Summary</h2>
				<p>
					This is a website re-design project for Haley Tricycles, a small business in Philadelphia, during the course FNAR 234 Art of the Web at the University of Pennsylvania. 
				</p>
			</div>
			<div class="summary">
				<h2>My Role</h2>
				<p>
					I did research and card sorting with my group. I continued to create personas, journey maps, a low-fidelity prototype, a mood board, a style guide, and mockups for the website.
				</p>
			</div>
			<div class="summary">
				<h2>Tools</h2>
				<p id="center">
					Sketch, Adobe Illustrator
				</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="bottom">
			<div>
				<p>
					Our group did immersion research and competitor research, and found out that the unique things about Haley Tricycles are its design and customizable options.
					We did card sorting of the data and formed an idea about the problems of the current website.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/research.png" alt="competitor research table and card sorting">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					I created personas and a customer journey map to empathize with users, and found that the biggest problem of the current site is that users have trouble finding the information they want.
					My solution is a more effective information architecture and navigation, as well as clearer layout for each page.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/personaStoryBoard.png" alt="personas and journey map">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					With these solutions in mind, I made wireframes for my new design. I also made a low-fidelity prototype for the new customization page and gallery, which will help highlight the unique things about the business. 
					<a href="https://drive.google.com/file/d/0B1N7nLI9TweERThWc1lvLU9pZEU/view"><span id="prototype">View Prototype</span></a>
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyWireframe.png" alt="wireframes">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					Based on our research, I understood that the style of Haley is vintage inspired. collected materials of vintage cars and nostalgic designs to form the mood board. I finalized the aesthetic direction of the site by creating a style guide.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyAesthetic.png" alt="moodboard and style guides with vibrant, warm colors">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					After experimenting with different designs of the homepage, my final mockup is a page that looks like the box of a Haley Tricycle. 
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyMockups.png" alt="three different mockups and a final one">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Take aways</h3>
				<p>
					I learned about the process of UX design and tried creating wireframes, lo-fidelity prototypes, and mockups for the first time. I came to realize that design should be user-centered and functional first and foremost.
				</p>
			</div>
		</section>
	</section>
{% endblock %}