{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<h1>Haley Tricycles</h1>
		<section class="top">
			<div class="summary" >
				<h2>Summary</h2>
				<p>
					This is a website re-design project for Haley Tricycles, a small business in Philadelphia, during the course FNAR 234 Art of the Web at the University of Pennsylvania. 
				</p>
			</div>
			<div class="summary">
				<h2>My Role</h2>
				<p>
					I did research and card sorting with my group. I continued to create personas, journey maps, a low-fidelity prototype, a mood board, a style guide, and mockups for the website.
				</p>
			</div>
			<div class="summary">
				<h2>Tools</h2>
				<p id="center">
					Sketch, Adobe Illustrator
				</p>
			</div>
			<div class="clearfix"></div>
		</section>
		<section class="bottom">
			<div>
				<h3>Initial Research - What's unique about Haley?</h3>
				<p>
					Coming into the problem with minimum knowledge about tricycles, we did immersion research first. We found out that tricycles are suitable for personal cargo transport in the urban area. It also reflects the appreciation of fun, uniqueness, and vintage style. After competitive research, we found that the unique things about Haley Tricycles are its design and customizable options.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/competitor.png" alt="competitor research result">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Finding Pain Points</h3>
				<p>
					We did card sorting of the user data we gathered from questionnaires and formed an idea about the needs and problems of the current website. The recurring problem in the data is that the information architecture is disorganized and the whole website is difficult to navigate.
					I created personas and a customer journey map to empathize with users, and found that it is very difficult for users to figure out how to place orders.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/cardSorting.png" alt="personas and journey map">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/personaStoryBoard.png" alt="personas and journey map">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Solutions</h3>
				<p>
					To improve the usability of the whole website, my solution is a more effective information architecture and simplified navigation, as well as clearer layout on each page. To address the difficulties users have with placing orders, I designed a step-by-step ordering process. This process highlights the customization options which are unique about Haley.
					I sketched out wireframes and created a low-fidelity prototype for the new customization page and gallery page. 
					<a href="https://drive.google.com/file/d/0B1N7nLI9TweERThWc1lvLU9pZEU/view"><span id="prototype">View Prototype</span></a>
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyWireframe.png" alt="wireframes">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Visual Design</h3>
				<p>
					Based on our research, I understood that the style of Haley is vintage inspired. I collected materials of vintage cars and nostalgic designs to create a mood board. I finalized the aesthetic direction of the site by creating a style guide.
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyAesthetic.png" alt="moodboard and style guides with vibrant, warm colors">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<p>
					After experimenting with different designs of the homepage, my final mockup is a page that looks like the box of a Haley Tricycle. 
				</p>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/HaleyMockups.png" alt="three different mockups and a final one">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class = 'cimage'>
		  			<div class="img">
						<img src="images/haleyMockupHome.png" alt="three different mockups and a final one">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div>
				<h3>Takeaways</h3>
				<p>
					I learned about the process of UX design and tried creating wireframes, lo-fidelity prototypes, and mockups for the first time. I came to realize that design should be user-centered and functional first and foremost.
				</p>
			</div>
		</section>
	</section>
{% endblock %}