{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<section class="top">
		<h1>Interactive Museum App: Hyecho's Journey</h1>
			<div>
				<p class="opening">
					The Smithsonian Museum is seeking for an interactive app that enhances the visiting experience and attracts more visitors to their upcoming Buddhism-themed exhibition, Hyecho’s Journey. Herein, we dropped the conventional digital catalog approach, and are aiming to create a game-like product that motivates users to explore the robust content. 
				</p>
			</div>
		</section>
			<br>
			<div>
				<div class="tool">
					<img class="toolicon" src="images/role.png" alt="">
					<h4>My Role</h2>
				</div>
				<p>
					I am the UX and UI designer on the team. So far I have conducted competitor research and user interviews together with my teammate, and have also created storyboards for our current ideas. I am also creating workflows, wireframes, and prototypes for the app.
				</p>
				<div class="clearfix"></div>
			</div>
			<br>
			<div>
				<div class="tool">
					<img class="toolicon" src="images/tool.png" alt="">
					<h4>Tools</h4>
				</div>
				<p>
					Interviewing, Survey Design, Value Proposition Canvas, Storyboarding, Sketch
<!-- 					<ul class="tools">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul> -->
				</p>
			<div class="clearfix"></div>
		<section class="bottom">
			<h3>Overcoming Various Constraints</h3>
			<p>
				Like every other product, this app needs to realize the goals of clients, meet the needs of users, and overcome the constraints of the physical exhibition and technologies. For our faculty clients, the app about Buddhist culture needs to be both appealing to the general public and educational for them. They also want the possibility of extending it as a general tool for the education of Buddhist culture. </br>
				For our target users who are the general public, especially people between 20-32, Buddhism is oftentimes not a familiar or attractive topic. Moreover, users need strong motivations to use the app at the risk of being distracted from the physical exhibition. To address these insights from user interviews, we used the Value Proposition Canvas to analyze our qualitative data and align users' needs with our design.
			</p>
			<div class="regimg">
				<img src="images/ValuePropositionCanvas.png" alt="Storyboards of the app">
			</div>
			<p>
				By discussing the Value Proposition Canvas with our clients, we decided that the app should contain information about the displays beyond the exhibition, audio guides, and should be interactive, enjoyable, and rewarding. We also helped our client prioritize their goals, and determined that the main goal of the product should be enhancing the experience of those who visit the museum. <br>
				Another important thing is that the app should map to the pysical exhibition and navigate users through the exhibition. To address this need, we decided to build an interactive map. Utilizing the unique content we have, the app tells the story of a Korean Buddhist who traveled throughout the Buddhist world in the 8th century. 
			</p>
			<h3>Initial Storyboard</h3>
			<p>
				With the ideas mentioned above in mind, I created the following storyboard to illustrate our initial product direction and provide a chanel of discussion. The storyboard addresses all the possible features the team has discussed and provides a complete work flow.
			</p>
			<div class="regimg">
				<img src="images/Hyecho_storyboard.png" alt="Storyboards of the app">
			</div>
			<div>
				<h3>Takeaways</h3> 
				<p>
					I have learned a lot about implementing user-centric design under various constraints and communicating in a diverse team. I learned to lay emphasis on prioritizing in my design process.
				</p>
			</div>
			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
		</section>
	</section>
{% endblock %}