{% extends "base.html" %}
{% block content %}
	<div class="moduleTitle">
		<h1>IOS App: Hyecho's Journey (Ongoing)</h1>
	</div>
	<div class="table">
		<div class="cellProblem">
			<h5>The Problem</h5>
			<p class="problem">How can we help visitors better enjoy a Buddhist art exhibit?</p>
			<p>	The Smithsonian Museum is seeking for an interactive app that enhances the visiting experience and attracts more visitors to their upcoming Buddhism-themed exhibition, Hyecho’s Journey. With insights from our research, we dropped the conventional digital catalog approach, and are aiming to create a game-like product that motivates users to explore the robust content. </p>
		</div>
		<div class="cellList">
			<ul>
				<li><span> Role </span> 
					<p>UX & UI designer</p>
				</li>
				<li><span> Methods </span> 
					<p>Interviewing / Survey Design / Sketching / Storyboarding</p>
				</li>
				<li><span> Tools </span> 
					<p>Sketch / Value Proposition Canvas</p>
				</li>
				<li><span> Team </span>
					<p>Bailey Case / Elijah Sattler / Anders Boberg / Eric Yeh / Rebecca Henry / Sindhu Giri</p>
				</li>
				<li><span> Timeline </span> 
				<p>January 2017 - December 2017</p>
				</li>
			</ul>
		</div>
	</div>
	<section class="paragraph">
			<h3>Overcoming Various Constraints</h3>
			<p>
				Like every other product, this app needs to realize the goals of clients, meet the needs of users, and overcome the constraints of the physical exhibition and technologies. 
			</p>
			<div class="himage">
				<img src="images/triangle.png" alt="Constraints of design">
			</div>
			<div>
				<ul>
					<li class="listSubTitle">Our faculty clients: 
						<ul class="listSubContent">
							<li>Want the app to navigate visitors through the exhibition</li>
							<li>Want the app to be both appealing to the general public and educational</li>
							<li>Want the possibility of extending it as a general tool for the education of Buddhist culture</li>
						</ul>
					</li>
					<li class="listSubTitle">The pysical environment:
						<ul class="listSubContent">
							<li>Requires our app to map to the physical exhibition</li>
						</ul>
					</li>
					<li class="listSubTitle">Most importantly, our users told us that they would like:
						<ul class="listSubContent">
							<li>Information beyond the exhibit</li>
							<li>Narration and guide through the exhibit</li>
							<li>Reward system for using</li>
							<li>Interface that is easy to use</li>
						</ul>
					</li>
					<li class="listSubTitle">And their pain points are...	
						<ul class="listSubContent">
							<li>Buddhism is oftentimes not a familiar or attractive topic for them</li>
							<li>Worried that technology is distracting instead of helpful in a physical exhibition</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<p>
				We aligned users' needs and our design ideas with the Value Proposition Canvas. By discussing our Value Proposition Canvas with our clients, we helped them prioritize their goals, and determined that the main goal of the product should be enhancing the experience of those who visit the museum. The free app will contain audio guide and detailed information to relieve users' doubt about the necessity of a museum app. It will leverage the unique content and enable users to experience the journey of Hyecho, a young Korean Monk in the 8th century, in order to raise people's interest in the Buddhist content.
			</p>
			<div class="regimg">
				<img src="images/ValuePropositionCanvas.png" alt="Value Proposition Canvas">
			</div>

			<h3>Storyboarding the product direction</h3>
			<div class="himage">
				<img src="images/Hyecho_storyboard2.png" alt="Storyboards of the app">
			</div>
			<p>
				With the ideas mentioned above, I created a storyboard to illustrate our initial product direction. My storyboard addresses all the possible features the team has discussed and provides a complete work flow. 
			</p>
			<p>In my initial storyboard, the main screen of the app is a map with several locations highlighted. Users click to each location and sees a menu that looks like a book, which would allow them to view object descriptions with audio available, background stories, and play mini games. After completing cetain tasks, they will unlock exclusive content that can be shared on social media.
			</p>
			<div class="clearfix"></div>
			<h3>Prototype, test, repeat</h3>
			<h4>Landscape or portrait?</h4>
			<div class="cimage">
			<div class="dimage border">
				<img src="images/1landing.png" alt="vertical landing screen">
			</div>
			<div class="dimage border">
				<img src="images/portrait_1landing.png" alt="horizontal landing screen">
			</div>
			<div class="clearfix"></div>
			</div>
			<p>After outlining the product direction, we started to prototype our design ideas and test with users. The first choice we need to make is the orientation of the screen. Initially, we were envisioning a horizontal app that can display a map better. However, our sponsor pointed out that it would be inconvenient for people to flip their phone. 
			To make the right choice, we interviewed users and showed them two kinds of screens. It turns out that everyone prefers the vertical screen. Some users have the portrait orientation locked.</p>

			<div class="part">
			<div class="himage">
			<div class="simage">
				<img src="images/prototype1.gif" alt="Storyboards of the app">
			</div>
			<div class="simage">
				<img src="images/prototype0216.gif" alt="Storyboards of the app">
			</div>
			</div>
			<h4>One prototype a week</h4>
			<p>
				 After getting feedbacks from our sponsors and empathizing with visitors in the museum, we decided to add a journal feature that allows users to access object descriptions without going through the map content. When they open the app, they can directly search objects by number in the journal. 

				 <p class="citation">* Prototype on the left is created together with Rebecca Henry and Sindhu Giri. Menu icons for the right prototype are from Flaticon.com, and the map image is from game Yin Yang Shi. 
			</p>
			<div class="clearfix"></div>
			<p>
				 Users reported that they like the ideas of a map and a journal, which addresses the theme of a journey well. This confirmed that our general direction for the app is correct. They also suggested that we have a fixed navigation bar so that users always know where they are. Therefore I added navigation in the second prototype and added details for the interaction in each location.
			</p>
			</div>
			<div class="clearfix"></div>
			<p>
				 We are currently brainstorming interactions related to the objects, of which the information we just got from our sponsors. The whole team will iterate through the design and implement it. A minimal viable product will be available around May. Stay tuned!
			</p>
			<div>
			<a class="back" href="/#projects"><p>«&nbsp;Previous<br>Back to project list</p></a>
			<a class="next" href="/Haley"><p>Next&nbsp;»<br>Web: Haley Tricycles</p></a>
			</div>
			</section>

{% endblock %}