<!DOCTYPE html>
<html>
<head>
	<title>Hyecho's Journey</title>
	<link rel="stylesheet" type="text/css" href="../style_sheets/alt.css">
</head>
<body>
	<div class="moduleTitle">
		<h1>Interactive Museum App: Hyecho's Journey</h1>
	</div>
	<div class="table">
		<div class="cellProblem">
			<h4>The Problem</h4>
			<p class="problem">How can we create a mobile app that enhance the musuem visiting experience and arouses people's interest in Buddhism and art?</p>
			<p>	The Smithsonian Museum is seeking for an interactive app that enhances the visiting experience and attracts more visitors to their upcoming Buddhism-themed exhibition, Hyecho’s Journey. With insights from our research, we dropped the conventional digital catalog approach, and are aiming to create a game-like product that motivates users to explore the robust content. </p>
		</div>
		<div class="cellList">
			<ul>
				<li><span> Role </span> 
					<p>UX & UI designer</p>
				</li>
				<li><span> Methods </span> 
					<p>Interviewing / Survey Design / Sketching / Storyboarding</p>
				</li>
				<li><span> Tools </span> 
					<p>Sketch/Value Proposition Canvas</p>
				</li>
				<li><span> Team </span>
					<p>Bailey Case / Elijah Sattler / Anders Boberg / Eric Yeh / Rebecca Henry / Sindhu Giri</p>
				</li>
				<li><span> Timeline </span> 
				<p>January 2017 - December 2017</p>
				</li>
			</ul>
		</div>
	</div>
	<section class="bottom">
			<h3>Overcoming Various Constraints</h3>
			<p>
				Like every other product, this app needs to realize the goals of clients, meet the needs of users, and overcome the constraints of the physical exhibition and technologies. 
			</p>
			<div class="himage">
				<img src="images/triangle.png" alt="Constraints of design">
			</div>
			<div>
				<ul>
					<li class="listSubTitle">Our faculty clients: 
						<ul class="listSubContent">
							<li>Want the app to navigate visitors through the exhibition</li>
							<li>Want the app to be both appealing to the general public and educational</li>
							<li>Want the possibility of extending it as a general tool for the education of Buddhist culture</li>
						</ul>
					</li>
					<li class="listSubTitle">The pysical environment:
						<ul class="listSubContent">
							<li>Requires our app to map to the physical exhibition</li>
						</ul>
					</li>
					<li class="listSubTitle">Most importantly, our users told us that they would like:
						<ul class="listSubContent">
							<li>Information beyond the exhibit</li>
							<li>Narration and guide through the exhibit</li>
							<li>Reward system for using</li>
							<li>Interface that is easy to use</li>
						</ul>
					</li>
					<li class="listSubTitle">And their pain points are...	
						<ul class="listSubContent">
							<li>Buddhism is oftentimes not a familiar or attractive topic for them</li>
							<li>Worried that technology is distracting instead of helpful in a physical exhibition</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<p>
				We aligned users' needs and our design ideas with the Value Proposition Canvas. By discussing our Value Proposition Canvas with our clients, we helped them prioritize their goals, and determined that the main goal of the product should be enhancing the experience of those who visit the museum. The free app will contain audio guide and detailed information to relieve users' doubt about the necessity of a museum app. It will leverage the unique content and enable users to experience the journey of Hyecho, a young Korean Monk in the 8th century, in order to raise people's interest in the Buddhist content.
			</p>
			<div class="regimg">
				<img src="images/ValuePropositionCanvas.png" alt="Value Proposition Canvas">
			</div>

			<h3>Initial Storyboard</h3>
			<p>
				With the ideas mentioned above, I created the following storyboard to illustrate our initial product direction. My storyboard addresses all the possible features the team has discussed and provides a complete work flow. Currently we are combining different storyboards to create our desired workflow and continue trying different designs. The design will be tested, iterated, and implemented, and a minimal viable product will be available around May.
			</p>
			<div class="regimg">
				<img src="images/Hyecho_storyboard.png" alt="Storyboards of the app">
			</div>
			<div>
				<p>
				We are currently refining and testing an initial workflow. A usable alpha will be released around May. Stay tuned!
				</p>
			</div>
			<div class="back"><a href="/#projects">&#8592; &nbsp;Back to project list</a></div>
			<div class="clearfix"></div>
		</section>
	</section>
</body>
</html>