{% extends "base.html" %}
{% block content %}
	<section class="paragraph">
		<div class="responsive">
		  <div class="img">
		  	<a href="/Dragon">
		      <img src="images/Artboard3.png" alt="palm tress and sunset" width="600" height="400">
		    <div class="desc">The Dragon scroll: A mobile game for learning Chinese</div>
		    </a>
		  </div>
		</div>

		<div class="responsive">
		  <div class="img">
		    <a href="/Haley">
		      <img src="images/Artboard2.png" alt="link to the Haley Tricycle project" width="600" height="400">
		    <div class="desc">Redesigning Haley Tricycle's website</div>
		    </a>
		  </div>
		</div>

		<div class="clearfix"></div>
		
	</section>
{% endblock %}